blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
et_xmlfile==2.0.0
Flask==3.0.3
idna==3.11
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
nest-asyncio==1.6.0
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
plotly==5.24.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
retrying==1.4.2
setuptools==80.9.0
six==1.17.0
tenacity==9.1.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.0.6
wheel==0.45.1
zipp==3.23.0
networkx==3.2.1










